{{ if .Site.Params.analytics.googleTagManager.enabled }}
<noscript>
  <iframe
    src="https://www.googletagmanager.com/ns.html?id={{ .Site.Params.analytics.googleTagManager.code }}"
    height="0"
    width="0"
    style="display: none; visibility: hidden"></iframe>
</noscript>
{{ end }}

{{ partial "skip-to-content.html" }}

<header class="header fixed-top" id="header">
  <div class="container">
    <nav class="navbar bd-navbar navbar-expand-lg navbar-light p-0" aria-label='{{ i18n "primary_navigation" }}'>
      <div class="container-fluid">
        <a class="navbar-brand mx-auto" href="{{ .Site.BaseURL | relLangURL }}">
          <span>Beichen</span>
          <span>Zhang</span>
        </a>
        <button
          class="navbar-toggler collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent, #header"
          aria-controls="navbarSupportedContent header"
          aria-expanded="false"
          aria-label='{{ i18n "toggle_navigation" }}'>
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-lg-auto">
            {{- range .Site.Menus.header }}
            <li class="nav-item">
              <a data-scroll class="nav-link" href="{{ .URL | relURL }}">
                {{- .Name | upper -}}
              </a>
            </li>
            {{- end }}
            {{- if not .Site.Params.colorTheme.selector.disable.header }}
            <li class="dropdown theme-selector nav-item">
              {{ .Scratch.Set "selectorPlacement" "header" }}
              {{ .Scratch.Set "dropdownDirection" "down" }}
              {{ partial "selector-theme.html" . }}
            </li>
            {{- end }}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>

{{- if not .IsHome }}
  {{ partial "breadcrumb.html" . }}
{{- end }}
