{{ $img := resources.Get .src }}
{{ if $img }}
  {{- $target1 := "" -}}
  {{- $target2 := "" -}}

  {{- if and .width .height -}}
    {{ $swidth := int .width }}
    {{ $sheight := int .height }}
    {{- $target1 = (printf "%dx%d" $swidth $sheight) -}}
    {{- $target2 = (printf "%dx%d" (mul 2 $swidth) (mul 2 $sheight)) -}}
  {{- else if .width -}}
    {{ $swidth := int .width }}
    {{- $target1 = (printf "%dx" $swidth) -}}
    {{- $target2 = (printf "%dx" (mul 2 $swidth)) -}}
  {{- else if .height -}}
    {{ $sheight := int .height }}
    {{- $target1 = (printf "x%d" $sheight) -}}
    {{- $target2 = (printf "x%d" (mul 2 $sheight)) -}}
  {{- else if .scale -}}
    {{ $swidth := int (mul (float $img.Width) (float .scale)) }}
    {{ $sheight := int (mul (float $img.Height) (float .scale)) }}
    {{- $target1 = (printf "%dx%d" $swidth $sheight) -}}
    {{- $target2 = (printf "%dx%d" (mul 2 $swidth) (mul 2 $sheight)) -}}
  {{- else -}}
    {{- $target1 = (printf "%dx%d" $img.Width $img.Height) -}}
  {{- end }}

  {{ $imgOri := $img.Resize (printf "%s q75 Lanczos picture" $target1) }}
  {{ $imgWebp := $img.Resize (printf "%s webp q75 Lanczos picture" $target1) }}

  <picture class="{{ .pictureclass }}">
    {{- if $target2 -}}
      {{ $imgOri2 := $img.Resize (printf "%s q75 Lanczos picture" $target2) }}
      {{ $imgWebp2 := $img.Resize (printf "%s webp q75 Lanczos picture" $target2) }}
      <source srcset="{{ $imgWebp.RelPermalink }} 1x, {{ $imgWebp2.RelPermalink }} 2x" type="image/webp" />
      <source srcset="{{ $imgOri.RelPermalink }} 1x, {{ $imgOri2.RelPermalink }} 2x" type="{{ $imgOri.MediaType.Type }}">
    {{- else -}}
      <source srcset="{{ $imgWebp.RelPermalink }} 1x" type="image/webp" />
      <source srcset="{{ $imgOri.RelPermalink }} 1x" type="{{ $imgOri.MediaType.Type }}">
    {{- end }}

    <img
      width="{{ $imgOri.Width }}"
      height="{{ $imgOri.Height }}"
      class="lozad img-responsive {{ .class }}"
      data-src="{{ $imgOri.RelPermalink }}"
      alt='{{ .alt }}'
      src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
      loading="lazy"
      decoding="async" />
  </picture>
{{ end }}
