{{- $title := .Get "title" | default "Education" -}}
{{- $inner := .Inner | safeHTML -}}
{{- $sectionId := .Get "sectionId" | default "education" -}}

<section {{ if $sectionId }}id="{{ $sectionId }}"{{ end }} class="section section-education rad-animation-group">
  <div class="rad-fade-down">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <h2>{{ $title }}</h2>
        <div class="education-home-list">
          {{ $inner }}
        </div>
      </div>
    </div>
  </div>
</section>
